body{
    background-color: #ffffff;
}

.container{
    width: 500px;
    height: 450px;
    border: 5px solid #4b3f39;
    position: relative;
    margin: 225px auto;
    background-color: #fdf7e3;
}

.box {
    position: absolute;
    border: 2px solid #4b3f39;
    box-sizing: border-box;
}

.left.top.box{
    width: 110px;
    height: 130px;
    top: 0;
    left: 0;
    background-color: #fdf7e3;
    border-right: 10px solid #4b3f39;
    border-bottom: 10px solid #4b3f39;

}

.left.middle.box{
    width: 110px;
    height: 190px;
    top: 130px;
    left: 0;
    border-right: 10px solid #4b3f39;
    border-top: 10px solid #4b3f39;
    border-bottom: 10px solid #4b3f39;

}

.left.bottom.box{
    width: 110px;
    height: 130px;
    bottom: 0;
    left: 0;
    background-color: #45a0c8;
    border-right: 10px solid #4b3f39;

}

.big.red.box{
    width: 390px;
    height: 320px;
    top: 0px;
    left: 110px;
    background-color: #e74c3c;
    border-bottom: 10px solid #4b3f39;
}

.center.bottom.box{
    width: 360px;
    height: 130px;
    bottom: 0;
    left: 110px;
    background-color: #fdf7e3;
    border-right: 10px solid #4b3f39;
}

.bottom.small.box{
    width: 30px;
    height: 70px;
    bottom: 60px;
    right: 0;
    background-color: #fdf7e3;
    border-bottom: 15px solid #4b3f39;   
}

.bottom.yellow.box{
    width: 30px;
    height: 70px;
    bottom: 0;
    right: 0;
    background-color: #f1c40f;
    border-top: 15px solid #4b3f39;
}