
.container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

}

.grid-item1{
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: rgb(126, 0, 189);
}

.grid-item2{
    background-color: grey;
    grid-column-start: 6;
    grid-column-end: 8;
}

.grid-item3{
    background-color: rgb(226, 112, 255);
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 3;
}
.grid-item4{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(233, 233, 233);
}
.grid-item5{
    background-color: black;
    color: white;
    grid-column-start: 3;
    grid-column-end: 8;
}
